.searchbox {
    padding: 10px;
    padding: 10px;
  }
  
  .searchbox select {
    width: 100%;
  }
  
  .searchbox ul {
    position: absolute;
    z-index: 1000;
    background-color: #f0f0f0;
    max-width: 200px;
    min-width: 100px;
    list-style-type: none;
    margin: 0;
    width: 400%;
    padding: 0;
    overflow: hidden;
    display: block;
    
  }
  
  .searchbox ul li {
    padding: 10px;
    cursor: pointer;
  }
  
  .searchbox ul li:hover {
    background-color: lightgray;
  }
  
  .searchbox input {
    border: none;
    outline: none;
    background: #f0f0f0;
    width: 100%;
  }
  
  .searchbox input:focus + ul {
    display: block;
  }
  
  .searchbox ul:focus + ul {
    display: block;
  }
  .searchbox li:focus + ul {
    display: block;
  }
  #box {
    margin: auto;
    width: 50%;
    border-radius: 15px;
    background-color: #f0f0f0;
    align-items: center;
    padding: 8px 16px;
   }
   #box h1, #box h2, #box,button{
    color: black;
    text-align: center;
    text-decoration: none;


   }
  